
<script type="text/javascript" src="jslib/jquery/jquery-1.11.3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="jslib/jquery/jquery-migrate-1.2.1.min.js" charset="utf-8"></script>


<!-- 引入EasyUI -->
<link id="easyuiTheme" rel="stylesheet" href="jslib/easyui-1.4.4/themes/default/easyui.css" type="text/css">

<script type="text/javascript" src="jslib/easyui-1.4.4/jquery.easyui.min.js" charset="utf-8"></script>
<script type="text/javascript" src="jslib/easyui-1.4.4/locale/easyui-lang-zh_CN.js" charset="utf-8"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="stylesheets/lightmvc.css" type="text/css">
<link rel="stylesheet" href="stylesheets/loginstyle.css" type="text/css">
